<div class="card">
  <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 16px;">
    <h1 style="margin: 0;">{{header}}</h1>
    <button pButton (click)="onNew()" class="pi pi-plus" style="margin-left: 20px;">Add</button>
  </div>
  <ng-container *ngFor="let card of cardData">
    <app-base-card
      [name]="card.name"
      [category]="card.category"
      [iconUrl]="card.iconUrl"
      (cardClick)="goToBillDetail(card)">
    </app-base-card>
  </ng-container>
</div>