<div class="card">
  <div style="display: flex; justify-content: center; margin-bottom: 1.5rem;">
    <div style="display: flex; align-items: center; background: #f8f9fa; border-radius: 2rem; padding: 0.5rem 1rem; width: 100%; max-width: 350px;">
      <i class="pi pi-search" style="color: #6c757d; font-size: 1.1rem; margin-right: 0.5rem;"></i>
      <input
        pInputText type="text" #filter placeholder="Search groups"
        style="border: none; outline: none; background: transparent; font-size: 1rem; color: #495057; width: 100%;"
      />
    </div>
    <button pButton (click)="onNew()" class="pi pi-plus" style="margin-left: 20px;">Add</button>
  </div>

  <!-- <app-base-list
    [columns]="groupColumns"
    [data]="groupData"
    [header]="groupHeader"
    [showFilters]="true"
    [showPaginator]="true"
    [rowsPerPage]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
  ></app-base-list>

  <app-base-form
    [fields]="userFields"
    [model]="userModel"
    [header]="userHeader"
    [submitLabel]="'Create'"
    [isLoading]="isLoading"
    (submitForm)="handleSubmit($event)">
  </app-base-form> -->

  <ng-container *ngFor="let card of cardData">
    <app-base-card
      [name]="card.name"
      [category]="card.category"
      [iconUrl]="card.iconUrl"
      (cardClick)="goToCardDetail(card)">
    </app-base-card>
  </ng-container>
</div>
